
/*a {
    color: #878580;
    text-decoration: none;
    background-color: transparent;
}*/

.nav-item > a {
    color: #fff;
    text-decoration: none;
    background-color: transparent; 
    white-space: nowrap;
}

.nav-item > a:hover {
    color: #0f7864;
    text-decoration: underline;
}

.nav-item {
    margin-right: 10%;
}

.no-underline > a:hover {
    text-decoration: none;
}

/* Choose the colour for the active link*/
.active > a {
    color: #18bc9c;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.index-content {
    box-shadow: 2px 5px 9px #888888;
}

.auth-card {
    box-shadow: 2px 5px 9px #888888;
}

.register-form-section {
    margin-top: 5%;
}

/* CSS for the validation */
.field-validation-error {
    color: red
}

/* CSS for the validation */
.input-validation-error, 
input.error {
    border: 2px solid red;
}

/* CSS for the validation */
.validation-summary-errors, 
label.error {
    color: red
}
