@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

@if (@Model != null)
{
<ul>
    <li><b>Customer's Name:</b> @Model.Name</li>
    <li><b>Membership Type:</b> @Model.MemberShipType.Name</li>
    @if (@Model.Birthday.HasValue)
    {
        <li><b>Birthday:</b> @(((DateTime) Model.Birthday).ToShortDateString())</li>
    }
</ul>
    
}
else
{
    <p>Customer NOT found</p>
}


