<!--Using IEnumerable type because it's a base type for others, like List or Dictionary, so
if, in the future, decide to change to another type, it will still work-->

@model IEnumerable<MyRents.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">@ViewBag.Title</h1>

<div align="center">
    <table class="table table-hover table-bordered w-50">
        <thead>
        <th scope="col" class="text-center">@ViewBag.Title</th>
        <th scope="col" class="text-center">Genre</th>
        </thead>
        <tbody>
        <!--Empty Model, empty list-->
        @if (!Model.Any())
        {
            <tr>
                <td>We don't have any customer yet</td>
            </tr>
        }
        else
        {
            foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(movie.Name, "Details", "Movies",
                            new {id = movie.Id},null)
                    </td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }

        }
        </tbody>
    </table>
</div>

