<!-- View for Guest account -->
@*@model IEnumerable<MyRents.Models.Movie>*@
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">@ViewBag.Title</h1>

<div align="center" class="container">

    <table id="movies" class="table table-hover table-bordered w-50 table-striped">
        <thead class="text-center thead-dark">
            <tr>
                <th scope="col">@ViewBag.Title</th>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <!--Populated by the DataTable-->      
        </tbody>
    </table>
</div>

@section scripts
{
    <!-- Using external Javascript file-->
    <script type="text/javascript" src="/Scripts/Movies/ReadOnlyListScripts.js"></script>
}

